body {
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	margin: 2vh 2vw;
}

#map {
  height: 95vh;
  width: 98vw;
}




/*ASTEROID*/
.asteroids {
	position: absolute;
	width: 224px;
	height: 243px;
	left: 38px;
	top: 38px;
	background: #326273;
	border-radius: 37px;
}

h2 {
	position: absolute;
	font-size: 24px;
	text-align: center;
	left: 60px;
}

.asPos {
	position: absolute;
	left: 55px;
	top: 60px;
}

p {
	position: absolute;
	text-align: center;
	left: 48px;
	top: 180px;
}



/*WEATHER*/
.weather-box {
	position: absolute;
	width: 224px;
	height: 243px;
	left: 38px;
	top: 298px;
	background: #5C9EAD;
	border-radius: 37px;
	text-align: center;
	align-content: center;
}

.vector1 {
	position: absolute;
	left: 195px;
	top: 98px;
}

.city {
	position: absolute;
	font-size: 24px;
	text-align: center;
	left: 50px;
}

.img1 {
	position: absolute;
	left: 60px;
	top: 50px;
}

.description {
	position: absolute;
	font-size: 18px;
	left: 45px;
	top: 130px ;
}

.temp {
	position: absolute;
	font-size: 45px;
	left: 40px;
	top: 175px;
}

/*TIME*/

/*.vector2 {
	position: absolute;
	left: 195px;
	top: 100px;
}*/

/*SERIES*/
.tvSeries {
	position: absolute;
	width: 224px;
	height: 243px;
	left: 38px;
	top: 557px;
	background: #326273;
	border-radius: 37px;
}

.seriesTitle {
	position: absolute;
	font-size: 24px;
	text-align: center;
	left: 60px;
}

.searchShow {
	padding-left: 2px;
	padding-top: 110px;
	text-align: center;
}

.form-group {
	margin-bottom: 10px;
}


#search {
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	background-color: #5C9EAD;
	outline: none;
	border-radius: 10px;
	border: #000000;
	min-height: 38px;
	font-weight: 400;
	text-align: center;
	cursor: pointer;
	padding: .375rem .375rem;
	font-size: 14px;

}

#inputValue {
	width: 150px;
	font-size: 14px;
	font-weight: 400;
	padding: .375rem .375rem;
	outline: none;
	color: #000000;
	font-family: 'Roboto', sans-serif;
	background-color: #ffffff;
	border-radius: 10px;
	border: 1px solid #cedfda;

}

.seriesBox {
	position: static;


}

section {
	display: flex;
	overflow-x: auto;
}