body {
	background: #ffffff;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;

}

/*ASTEROID*/
.asteroids {
	position: absolute;
	width: 224px;
	height: 243px;
	left: 38px;
	top: 38px;
	background: #326273;
	border-radius: 37px;
}

h2 {
	position: absolute;
	font-size: 24px;
	text-align: center;
	left: 60px;
}

img {
	position: absolute;
	left: 60px;
	top: 60px;
}

p {
	position: absolute;
	text-align: center;
	left: 48px;
	top: 180px;
}



/*WEATHER*/
.weather-box {
	position: absolute;
	width: 224px;
	height: 243px;
	left: 38px;
	top: 298px;
	background: #5C9EAD;
	border-radius: 37px;
	text-align: center;
}

.vector1 {
	position: absolute;
	left: 195px;
	top: 98px;
}

/*article{
	position: absolute;
	text-align: center;
	left: 40px;
	top: 42px;
	font-size: 20px;
}*/

.city {
	position: absolute;
	font-size: 24px;
	text-align: center;
	left: 50px;
}


.description {
	position: absolute;
	font-size: 18px;
	left: 35px;
	top: 130px ;
}

.temp {
	position: absolute;
	font-size: 45px;
	left: 30px;
	top: 175px;
}



.travel {
	position: absolute;
	width: 224px;
	height: 243px;
	left: 38px;
	top: 557px;
	background: #5C9EAD;
	border-radius: 37px;
}

.vector2 {
	position: absolute;
	left: 195px;
	top: 100px;
}

.elevation {
	position: absolute;
	width: 224px;
	height: 243px;
	left: 38px;
	top: 817px;
	background: #326273;
	border-radius: 37px;
}